<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <title>Orama - Sua visão completa das finanças</title>
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="css/style.css">
    <link rel="stylesheet" href="css/animation.css">
</head>
<body>
    <header class="navbar">
        <div class="container">
            <div class="logo">Orama</div>
            <nav>
                <ul class="nav-links">
                    <li><a href="#"></a>Sobre</li>
                    <li><a href="#"></a>Serviços</li>
                    <li><a href="#">Contato</a></li>
                </ul>
            </nav>
            <div class="auth-buttons">
                <a href="#" class="login">Já tenho uma conta</a>
                <a href="#" class="sing-up">Crie sua conta</a>
            </div>
        </div>
    </header>

    <main class="hero">
        <div class="hero-content">
            <h1>Organize sua vida <br> financeira com o Orama!</h1>
            <p>Controle seus gastos, acompanhe seu fluxo de caixa e atinja suas metas financeiras com facilidade.</p>
            <p>Tudo isso com a ajuda do seu assistente financeiro pessoal.</p>
            <a href="#" class="btn-primary">Quero conhecer</a>
        </div>
        <div class="hero-image">
            <img src="img/Pangolim.svg" alt="Mascote Orama">
        </div>
    </main>
</body>
</html>
